<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.board.service.impl.BoardsMapper">
	<insert id="insertBoards" statementType="CALLABLE" parameterType="BoardsVO">
	<selectKey keyProperty="seq" resultType="String" order="BEFORE">
		SELECT NVL(MAX(SEQ), 0) + 1 FROM BOARD_SPRING
	</selectKey>
		INSERT INTO BOARD_SPRING (SEQ
								, TITLE
								, WRITER
								, CONTENT
								  <if test="fileName != null and fileName != ''">
								,  FILENAME
								  </if>
								  )
						  VALUES (#{seq}
								, #{title}
								, #{writer}
								, #{content}
							  <if test="fileName != null and fileName != ''">
								, #{fileName}
							  </if>
								  )
	</insert>
	<select id="getBoards" resultType="BoardsVO" parameterType="BoardsVO">
			SELECT SEQ
				 , TITLE
				 , WRITER
				 , CONTENT
				 , FILENAME
			  FROM BOARD_SPRING
 	   WHERE SEQ = #{seq}
	</select>
</mapper>