<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.finalproject.farm.app.chat.service.impl.ChatMapper">

<!-- 채팅방 조회 -->
<select id="getChatRoom" resultType="ChatRoomVO" parameterType="ChatRoomVO">
	SELECT * FROM CHATROOM
					WHERE	(USER_ID_ONE=#{user_id_one} AND
							USER_ID_TWO=#{user_id_two}) or
							(USER_ID_ONE=#{user_id_two} AND
							USER_ID_TWO=#{user_id_one})
</select>

<!-- 해당 채팅방에 속하는 메세지 조회 조회 -->
<select id="getMessageList" resultType="MessageVO" >
	SELECT 	MSG_NO,
			MSG_SENDER,
			MSG_RECEIVER,
			MSG_CONTENT,
			CHATROOM_NO,
			TO_CHAR(MSG_SENDTIME,'yyyy-mm-dd HH:mm:dd:ss') "MSG_SENDTIME",
			MSG_READTIME 
	FROM MESSAGE 
	WHERE CHATROOM_NO = #{chatroom_no}
	ORDER BY MSG_NO
</select>

<!-- 채팅방 조회후 일치하는 값이 없으면 채팅방 생성 -->
<insert id="insertChatRoom" parameterType="ChatRoomVO">
	INSERT INTO CHATROOM  (CHATROOM_NO,
							USER_ID_ONE,
							USER_ID_TWO)
				VALUES     ((select nvl(max(chatroom_no),0) from chatroom)+1,
							#{user_id_one},
							#{user_id_two})
</insert>

<!-- 메세지 보내기 -->
<insert id="insertMessage" parameterType="MessageVO">
	insert into MESSAGE (	MSG_NO,
							MSG_SENDER,
							MSG_RECEIVER,
							MSG_CONTENT,
							MSG_SENDTIME,
							CHATROOM_NO)
				VALUES ((SELECT NVL(MAX(MSG_NO),0) FROM MESSAGE)+1,
						#{msg_sender},
						#{msg_receiver},
						#{msg_content},
						systimestamp,
						#{chatroom_no})
</insert>

<!-- 채팅 팝업 처음 켰을때 리스트 띄우기 -->
<select id = "getChatRoomList" resultType = "ChatRoomVO"><!-- 대화리스트 불러오기 -->
	SELECT * FROM CHATROOM WHERE   USER_ID_ONE = #{user_id_one} 
								OR USER_ID_TWO = #{user_id_one} 
</select>

<!-- 최근 메세지 -->
<select id = "getRecentMessage" resultType = "MessageVO"><!-- 최근 메세지 가져오기 -->
	SELECT * FROM MESSAGE 
			 WHERE CHATROOM_NO = #{chatroom_no} 
			 AND ROWNUM <![CDATA[<=]]>1
			 ORDER BY MESSAGE_ID
</select>

<!-- 읽은 시간 update -->
<update id ="updateReadTime1" parameterType="MessageVO">
	update MESSAGE SET MSG_READTIME = SYSTIMESTAMP 
				   WHERE CHATROOM_NO=${chatroom_no} and 
				   		 MSG_RECEIVER = #{msg_receiver}
</update>

<!-- 메세지 삭제 -->
<delete id="deleteMessage" parameterType="String">
	DELETE FROM MESSAGE WHERE CHATROOM_NO = #{chatroom_id}
</delete>

<!-- 채팅방 삭제 -->
<delete id="deleteChatRoom" parameterType="String">
	DELETE FROM CHATROOM WHERE CHATROOM_NO = #{chatroom_id}
</delete>

<!-- 읽지않은 메세지 갯수 (채팅방별로)-->
<select id="getUnreadMessage" resultType="MessageVO" parameterType="String">
	SELECT CHATROOM_NO , NVL(COUNT(*),0) "msg_num" FROM MESSAGE 
								  WHERE MSG_RECEIVER = #{user_id} 
								  AND MSG_READTIME IS NULL 
								  GROUP BY CHATROOM_NO
</select>

<!-- 읽지않은 전체 메세지 갯수 -->
<select id="getUnreadMessageAll" resultType="int" parameterType="String">
	SELECT COUNT(*) "msg_num" FROM MESSAGE WHERE MSG_RECEIVER = ${user_id} AND MSG_READTIME IS NULL 
</select>

<!-- 검색기능 -->
<select id="getSearchList" parameterType="String" resultType="MessageVO">
	SELECT * FROM MESSAGE
			 WHERE MSG_RECEIVER LIKE '%'||#{msg_receiver}||'%' 
			 	OR MSG_SENDER LIKE '%'||#{msg_receiver}||'%'
</select>

</mapper>