<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.finalproject.farm.app.community.service.impl.CommunityMapper">
<!-- 전체보기 -->
	<select id="getComm" parameterType="CommPagingVO" resultType="CommunityVO">
		select b.* from (select rownum rn, a.* from (
        select * from community
        <where>
         <if test="comm_adrs != null">
			    COMM_ADR in
		 <foreach collection="comm_adrs" item="adr" open="(" close=")" separator=",">
         #{adr}
         </foreach>
		 </if>
		 <!-- 관리자에서 사용 START(부팀장이 추가) -->
		 <if test="comm_adr != null and comm_adr != ''">
			    COMM_ADR=#{comm_adr}
		 </if>
		 <!-- 관리자에서 사용 END -->
		 <if test="comm_subject != null and comm_subject != ''">
			    AND UPPER(COMM_SUBJECT) LIKE '%' || UPPER(#{comm_subject}) || '%'
		 </if>
         <if test="comm_title != null and comm_title != ''">
			    AND ( UPPER(COMM_TITLE) LIKE '%' || UPPER(#{comm_title}) || '%'
				OR UPPER(COMM_CONTENT) LIKE '%' || UPPER(#{comm_title}) || '%' )
		 </if>
        </where>
         order by comm_no desc
         ) a ) b where rn between #{start} and #{end} 
	</select>
	
	<!-- 상세보기 -->
	<select id="getSchComm" resultType="CommunityVO">
		SELECT USER_ID
		,COMM_NO
		,COMM_DATE
		,COMM_SUBJECT
		,COMM_TITLE
		,COMM_CONTENT
		,COMM_ADR
		,COMM_HIT
		,COMM_DATE
		FROM COMMUNITY
		WHERE COMM_NO = #{comm_no}
	</select>

	<!-- 등록하기 -->
	<insert id="insertComm" parameterType="CommunityVO">
		INSERT INTO COMMUNITY
		(COMM_NO, 
		USER_ID, 
	    COMM_SUBJECT,
	    COMM_TITLE,
	    COMM_CONTENT,
	    COMM_ADR,
	    COMM_HIT
	    )
		VALUES ( ( select nvl(max(comm_no),0)+1 from community),
		#{user_id},
		#{comm_subject},
		#{comm_title},
		#{comm_content},
		#{comm_adr},
		#{comm_hit}
		)
	</insert>

	<!-- 글 수정처리 -->
	<update id="updateComm" parameterType="CommunityVO">
		UPDATE COMMUNITY
		<set>
<if test="comm_subject !=null and comm_subject !=''"> COMM_SUBJECT=#{comm_subject},</if>
<if test="comm_title !=null and comm_title !=''"> COMM_TITLE=#{comm_title},</if>
<if test="comm_content !=null and comm_content !=''"> COMM_CONTENT=#{comm_content},</if>
<if test="comm_adr !=null and comm_adr !=''"> COMM_ADR=#{comm_adr}</if>
		</set>
		WHERE COMM_NO = #{comm_no}
	</update>
	
	<!-- 게시글 조회수 증가처리 -->
    <update id="updatereviewcnt" parameterType="CommunityVO">
        UPDATE COMMUNITY SET COMM_HIT = COMM_HIT + 1 
        WHERE COMM_NO = #{comm_no}
    </update>
	
	<!-- 글 삭제 -->
	<delete id="deleteComm" parameterType="CommunityVO">
		DELETE FROM COMMUNITY
		WHERE COMM_NO = #{comm_no}
	</delete>
	
	  <!-- 레코드 건수 -->
    <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM COMMUNITY
    <where>
        <if test="comm_adrs != null">
			    COMM_ADR in
		 <foreach collection="comm_adrs" item="adr" open="(" close=")" separator=",">
         #{adr}
         </foreach>
		 </if>
		 <!-- 관리자에서 사용 START(부팀장이 추가) -->
		 <if test="comm_adr != null and comm_adr != ''">
			    COMM_ADR=#{comm_adr}
		 </if>
		 <!-- 관리자에서 사용 END -->
		 <if test="comm_subject != null and comm_subject != ''">
			     AND UPPER(COMM_SUBJECT) LIKE '%' || UPPER(#{comm_subject}) || '%'
		 </if>
         <if test="comm_title != null and comm_title != ''">
			    AND ( UPPER(COMM_TITLE) LIKE '%' || UPPER(#{comm_title}) || '%'
				OR UPPER(COMM_CONTENT) LIKE '%' || UPPER(#{comm_title}) || '%' )
		 </if>
	 </where>
    </select>
    
	  <!-- 게시물 이전글 -->
	  <select id="getPreDocNum" parameterType="CommunityVO" resultType="CommunityVO">
      SELECT COMM_NO FROM COMMUNITY
	  WHERE 1=1 AND COMM_NO IN ( 
	  SELECT MAX(COMM_NO) FROM COMMUNITY 
	  WHERE 1=1 
	  AND COMM_NO <![CDATA[<]]> #{comm_no}) <!-- <만 썼더니 인식을 못함 -->
	  </select>
	  
	  <!--  게시물 다음글 -->
	  <select id="getNextDocNum" parameterType="CommunityVO" resultType="CommunityVO">
	  SELECT COMM_NO FROM COMMUNITY
	  WHERE 1=1 AND COMM_NO IN ( 
	  SELECT MIN(COMM_NO) FROM COMMUNITY 
	  WHERE 1=1 
	  AND COMM_NO > #{comm_no} )
	  </select>
    
    <!-- 게시물 이전글 다음글 누른 후 목록가기 눌렀을 때 페이징 계산 -->
    <select id="getPageNum" parameterType="CommunityVO" resultType="int">
	SELECT TRUNC((rn-1)/10)+1 FROM (SELECT ROWNUM rn, a.* FROM (
	        SELECT COMM_NO FROM COMMUNITY
	          ORDER BY COMM_NO DESC
	         ) a ) b
	   WHERE COMM_NO = #{comm_no}
    </select>
    
     <!-- 게시글의 댓글 목록 -->
     <select id="getReplyList" resultType="CommunityReplyVO">
     SELECT *
     FROM COMMUNITY_REPLY
     WHERE COMM_NO=#{comm_no} 
     order by 1
     </select>
     
     <!-- 게시글 댓글 등록 -->
     <insert id="insertReply" parameterType="CommunityReplyVO"> 
     <!-- 댓글 등록하고 나서 바로 시간이 안 뜨고 null로 떴었음
     그걸 고치기 위해 미리 rep_nof를 인식 시키고 등록을 하면 시간 인식이 된다(?) -->
      <selectKey resultType="int" keyProperty="comm_rep_no" order="BEFORE">
        		(select nvl(max(comm_rep_no),0)+1 from community_reply)      
     </selectKey>  
     INSERT INTO COMMUNITY_REPLY
     (COMM_REP_NO,
     USER_ID,
     COMM_NO,
     COMM_REP_CONTENT,
     COMM_REP_DATE)
     VALUES ( #{comm_rep_no},
              #{user_id},
              #{comm_no},
              #{comm_rep_content},
              #{comm_rep_date})
     </insert>
     
     <!-- 게시글 댓글 수정 -->
     <update id="updateReply" parameterType="CommunityReplyVO">
		UPDATE COMMUNITY_REPLY
		<set>
<if test="comm_rep_content !=null and comm_rep_content !=''"> COMM_REP_CONTENT=#{comm_rep_content}</if>
		</set>
		WHERE COMM_REP_NO = #{comm_rep_no}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="CommunityReplyVO">
		DELETE FROM COMMUNITY_REPLY
		WHERE COMM_REP_NO = #{comm_rep_no}
	</delete>  
	
	<!-- 댓글 전체삭제 -->
	<delete id="deleteReplyAll" parameterType="CommunityReplyVO">
	DELETE FROM COMMUNITY_REPLY
	WHERE COMM_NO = #{comm_no}
	</delete>
	

</mapper>