<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.finalproject.farm.app.myPage.service.impl.FarmerMapper">

<!-- 단건조회 -->
	<select id="getFarmerlist" resultType="FarmerVO">
	
		SELECT F.FARMER_NO
				,F.FARMER_FILENAME
				,F.FARMER_CHECK
				,F.USER_ID
				,F.FARMER_DATE
				,U.USER_AUTH
		FROM FARMER F JOIN USERS U
		ON (F.USER_ID = U.USER_ID)
		WHERE F.USER_ID=#{user_id}
		
	</select>

<!-- 등록 -->
	<insert id="insertFarmer" parameterType="FarmerVO">
	
		INSERT INTO FARMER (
							FARMER_NO
							,FARMER_FILENAME
							,USER_ID
							,FARMER_DATE
							)
		
		VALUES (
				(select nvl(max(farmer_no),0)+1 from farmer)
				,#{farmer_filename}
				,#{user_id}
				,sysdate
				)
	
	</insert>


<!-- 수정 -->
	<update id="updateFarmer" parameterType="FarmerVO">
       
        UPDATE FARMER
        SET FARMER_CHECK=#{farmer_check}
        WHERE FARMER_NO=#{farmer_no}
   	
	</update>
	
	
	
</mapper>