<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.finalproject.farm.app.intoTheFarm.service.impl.IntoTheFarmMapper">
	<!--전체조회 -->
	
	<select id="getFarmList" resultType="IntoTheFarmVO">
	SELECT INTO_NO,
		   INTO_TITLE,
		   INTO_PHONE,
		   INTO_PRODUCT,
		   INTO_DATE,
		   INTO_ENTRY,
		   INTO_FILENAME,
		   INTO_INFO,
		   USER_ID,
		   INTO_CITY
	FROM INTOFARM
	</select>
	<!--단건조회 -->
	
	<!--등록 -->
	<!--수정 -->
	
	<!--삭제 -->
</mapper>