<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.finalproject.farm.app.myPage.service.impl.PurchaseInqMapper">

<!-- 전제조회 -->
	<select id="getpuchasInqList" resultType="puchasInqVO">
		SELECT *
		FROM PURCHASE_INQURIY
	</select>

<!-- 전제조회(id별) -->
	<select id="getpuchasInqofUser" resultType="puchasInqVO">
		SELECT  PUR_INQ_NO,
				PUR_INQ_DATE,
				PUR_INQ_TITLE,
				PUR_INQ_CONTENT,
				PUR_INQ_CHECK,
				PRO_NO,
				PUR_INQ_FILENAME,
				USER_ID
		FROM PURCHASE_INQURIY
		where user_id = #{user_id}
	</select>
	
<!-- 판매자에게 들어온 문의리스트 -->
	<select id="getpuchasInqofFarmer" resultType="puchasInqVO">
		select  	i.PUR_INQ_NO,
		            i.PUR_INQ_DATE,
		           	i.PUR_INQ_TITLE,
		            i.PUR_INQ_CONTENT,
		            i.PUR_INQ_CHECK,
		            p.PRO_NO,
		            i.PUR_INQ_FILENAME,
		            i.USER_ID
		from product p inner join purchase_inquriy i
		on(p.pro_no = i.pro_no)
		where p.user_id = #{user_id}
	
	</select>	
<!-- 단건조회 -->	
	<select id="getpuchasInq"   parameterType="puchasInqVO"
								resultType="puchasInqVO">	
		SELECT *
		FROM PURCHASE_INQURIY
		WHERE pur_inq_no=#{pur_inq_no}		
	</select>

<!-- 등록 -->	
	<insert id="insertpuchasInq" parameterType="puchasInqVO">
		INSERT INTO PURCHASE_INQURIY(
										PUR_INQ_NO
										,PUR_INQ_DATE
										,PUR_INQ_TITLE
										,PUR_INQ_CONTENT
										,PUR_INQ_CHECK
										,USER_ID
										,PRO_NO
										,PUR_INQ_FILENAME	
									)
				
		VALUES(
					(select nvl(max(pur_inq_no),0)+1 from PURCHASE_INQURIY)
					,sysdate
					,#{pur_inq_title}
					,#{pur_inq_content}					
					,#{pur_inq_check}
					,#{user_id}
					,#{pro_no}
					,#{pur_inq_filename}
					
			)		
	</insert>

<!-- 수정 -->	
	<update id="updatepuchasInq" parameterType="puchasInqVO">
		UPDATE PURCHASE_INQURIY
				SET
						pur_inq_title = #{pur_inq_title}
						,pur_inq_content = #{pur_inq_content}
						,pur_inq_filename = #{pur_inq_filename}
			WHERE pur_inq_no = #{pur_inq_no}
	</update>

<!-- 삭제 -->	
	<delete id="deletepuchasInq" parameterType="puchasInqVO">
				DELETE FROM PURCHASE_INQURIY
						WHERE pur_inq_no = #{pur_inq_no}
	
	</delete>


<!-- //////// 댓글 ////////// -->	
<!-- 댓글 조회 -->
	<select id="getpuchasReplyList" resultType="puchasReplyVO">
			SELECT * 
			FROM PURCHASE_INQURIY_REPLY
			WHERE PUR_INQ_NO = #{pur_inq_no}	
	</select>


<!-- 댓글 등록 -->
	<insert id="insertpuchasReply" parameterType="puchasReplyVO">
			<selectKey resultType="string" keyProperty="pur_inq_rep_no" order="BEFORE">
        		select nvl(max(pur_inq_rep_no),0)+1 from PURCHASE_INQURIY_REPLY     
    		</selectKey>  
		INSERT INTO PURCHASE_INQURIY_REPLY
		VALUES (
				#{pur_inq_rep_no}
				,#{pur_inq_rep_content}
				,#{pur_inq_no}
				,#{user_id}
				,sysdate
				)
		
	</insert>
	

<!-- 댓글 삭제 -->	
	<delete id="deletepuchasReply" parameterType="puchasReplyVO">
			DELETE FROM PURCHASE_INQURIY_REPLY
			WHERE pur_inq_rep_no = #{pur_inq_rep_no}

	</delete>
	
	
</mapper>