<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.finalproject.farm.app.user.service.impl.UserMapper">

	<!-- ID 중복체크 -->
	<select id="idCheck" resultType="int" parameterType="UserVO">
		SELECT COUNT(*) FROM USERS WHERE USER_ID=#{user_id}
	</select>
	
	
	
</mapper>